/* intuitivnejsi box-sizing */
*, :after, :before { box-sizing: border-box; }

body {
	font: 24px/1 sans-serif;
}

/* ---------------------------------------------------- */

/*
	Nakóduj stránku podle obrázku zadani-ukolu.jpg.
	Rozložení stránky se mění v breakpointech:
	- 640px
	- 1000px
*/

.hlavicka {
	padding: 10px;
	border: 1px solid silver;
}

.logo {
	font-weight: bold;
	text-align: center;
}

a {
	text-decoration: none;
	background-color: #f0f0f0;
	color: #e74c3c;
	display: block;
	padding: 10px 20px;
}

a:hover {
	background-color: #e74c3c;
	color: white;
}

.menu {
	margin-top: 20px;
}

.menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.menu li {
	margin-bottom: 2px;
	text-align: center;
}



@media screen and (min-width: 640px) {
	.menu ul {
		display: flex;
	}

	.menu li {
		flex: 1 1 25%;
		margin-bottom: 0;
		margin-right: 2px;
	}
}

@media screen and (min-width: 1000px) {
	.hlavicka {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.menu {
		margin-top: 0;
	}
}