/* nejsme vcerejsi, pouzivame moderni box model */
*, :after, :before { box-sizing: border-box; }

body {
	font-family: sans-serif;
}

.sloupec {
	padding: 20px;
}

.hlavicka	{ background-color: #2ecc71; }
.hlavni		{ background-color: #f1c40f; }
.levy		{ background-color: #3498db; }
.pravy		{ background-color: #e74c3c; }
.paticka	{ background-color: #9b59b6; }

/* ---------------------------------------------------- */


.kontejner {
	display: grid;
	grid-template-columns: 200px auto 250px;
	grid-template-rows: 200px auto 100px;
	grid-gap: 20px;
}

.hlavicka {
	grid-row: 1 / 2;
	grid-column: 1 / -1;
}

.paticka {
	grid-row: 3 / 4;
	grid-column: 1 / -1;
}

.hlavni {
	grid-row: 2 / 3;
	grid-column: 2 / 3;
}

.levy {
	grid-row: 2 / 3;
	grid-column: 1 / 2;
}

.pravy {
	grid-row: 2 / 3;
	grid-column: 3 / 4;
}
