html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

body {
	font: 16px/1.5 sans-serif;
	padding: 2em;
}

/* ---------------------------- */

.box {
	display: flex;
	justify-content: center;
	align-items: center;
	width:900px;
	height: 300px;
	font-size: 80px;
	font-weight: bold;
	color: white;
	background-color: lightblue;
	background-image: url(images/pacicky.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}




.jezek {
	width: 600px;
}


.svg:hover .obdelnik {
	width: 400px;
	fill: lime;
	stroke: blue;
}