html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

body {
	font: 16px/1.5 sans-serif;
	padding: 2em;
}

/* ---------------------------- */


@keyframes hop {
	0% { transform: translateY(0); }
	50% { transform: translateY(-25px); }
	100% { transform: translateY(0); }
}

#kure {
	animation: hop 1s infinite both ease;
}


@keyframes mrk {
	0% { transform: scaleY(1); }
	5% { transform: scaleY(0.1); }
	12% { transform: scaleY(1); }
}

#oci {
	animation: mrk 3s infinite both ease;
	transform-origin: 0 258px;
}