/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box;}
*, ::after, ::before { box-sizing: inherit; }

.kontejner > div {
	padding: 20px;
	font: 24px/1 sans-serif;
	color: white;
}

.kontejner > div > :first-child {
	margin-top: 0;
}

.kontejner > div > :last-child {
	margin-bottom: 0;
}


/* ---------------------------------------------------- */

/* Nastyluj jednotlivé bloky podle zadání na obrázku */

.kontejner {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 100px auto auto auto 250px 100px;
	gap: 20px;
}

.logo {
	background-color: #55efc4;
	grid-column: 1;
	grid-row: 1;
}

.hlavicka {
	background-color: #74b9ff;
	grid-column: 2 / span 2;
	grid-row: 1;
}

.menu {
	background-color: #ff7675;
	grid-column: 1;
	grid-row: 2;
}

.clanek1 {
	background-color: #fdcb6e;
	grid-column: 2 / span 2;
	grid-row: 2 / span 2;
}

.clanek2 {
	background-color: #a29bfe;
	grid-column: 1 / span 2;
	grid-row: 4;
}

.reklama1 {
	background-color: #d63031;
	grid-column: 1;
	grid-row: 3;
}

.reklama2 {
	background-color: #00b894;
	grid-column: 3;
	grid-row: 4;
}

.foto1 {
	background-color: #e84393;
	grid-column: 1;
	grid-row: 5;
}

.foto2 {
	background-color: #e84393;
	grid-column: 2;
	grid-row: 5;
}

.foto3 {
	background-color: #e84393;
	grid-column: 3;
	grid-row: 5;
}

.paticka {
	background-color: #636e72;
	grid-column: 1 / -1;
	grid-row: 6;
}


