/* nejsme vcerejsi, pouzivame moderni box model */
*, :after, :before { box-sizing: border-box; }

/* barvicky elementů na stránce */
header,
footer {
	background: yellowgreen;
}

aside {
	background: beige;
}

nav {
	background: lightsteelblue;
}

/* -------------------------------------------- */
/* tady piš svoje CSS */
/* -------------------------------------------- */


/*
	Budu používat jednotky vw a vh.
	Tyto jednotky jsou zkratky pro viewport width a viewport height.
	100vw představuje přesně šířku viewportu, tj. okna prohlížeče, ve kterém se stránka zobrazuje.
	100vh podobně představuje výšku viewportu, tj. okna prohlížeče.

	Pokud tedy chci, aby něco zabíralo 20% výšky prohlížeče, mohu napsat height: 20vh.

	Proč používám vw a vh místo procent? Protože nastavovat něčemu výšku v procentech je v CSS často velmi ošidné. Pokud rodič nemá výslovně nastavenou výšku a já jeho potomkovi (prvku uvnitř rodiče) nastavím výšku 20%, nastaví se výška jako 20% **šířky** rodiče.

	Používat procenta pro nastavení šířky je většinou bez problémů, pro výšku je to občas bohužel velmi neintuitivní. Jednotky vw a vh znamenají vždy šířku nebo výšku celého okna a tyto problémy nemají, takže v těchto cardio příkladech se nám hodí a budu je používat.
*/

/* nejprve vynulujeme margin u body, abych měli prvky bez mezery až do okraje celé stránky */
body {
	margin: 0;
}


/*
	Hlavní flexbox bude vertikální a bude v něm hlavička a patička s pevnou výškou a prostředek, který se natahuje a vyplňuje zbytek.

	Tento prostředek bude sám o sobě flexboxem, který dá vedle sebe menu, článek a sidebar.
*/

.kontejner {
	display: flex;
	flex-direction: column;
}

header,
footer {
	flex: 0 0 20vh;
}

.obsah {
	flex: 1 1 60vh;
	display: flex;
}

nav,
aside {
	flex: 0 0 20%;
}

article {
	flex: 1 1 60%;
}
