/* intuitivnejsi box siying */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

body {
	margin: 20px;
	font: 16px/1.5 sans-serif ;
}

/* ------------------------- */

form {
	width: 100%;
	max-width: 350px;
}

.form-field {
	margin-bottom: 10px;
}

.form-field > label {
	display: block;
	font-size: 14px;
	color: grey;
}

.form-field input[type="text"],
.form-field input[type="number"],
.form-field input[type="email"],
.form-field textarea,
.form-field select {
	width: 100%;
	border: 1px solid dodgerblue;
	border-radius: 4px;
	font-size: 16px;
	padding: 5px;
	background-color: azure;
}

.form-field input[type="text"]:focus,
.form-field input[type="number"]:focus,
.form-field input[type="email"]:focus,
.form-field textarea:focus,
.form-field select:focus {
	outline: 0;
	border: 2px solid blue;
	/* background-color: lightyellow; */
}

input[type="checkbox"]:focus,
input[type="radio"]:focus {
	outline-color: blue;
}




/*
.form-field input[type="text"]:valid,
.form-field input[type="number"]:valid,
.form-field input[type="email"]:valid,
.form-field textarea:valid,
.form-field select:valid {
	background-color: lightgreen;
	border-color: green;
} */

/*
.form-field input[type="text"]:invalid,
.form-field input[type="number"]:invalid,
.form-field input[type="email"]:invalid,
.form-field textarea:invalid,
.form-field select:invalid{
	background-color: pink;
	border-color: red;
} */

.form-field input[type="text"]:not(:placeholder-shown):valid,
.form-field input[type="number"]:not(:placeholder-shown):valid,
.form-field input[type="email"]:not(:placeholder-shown):valid,
.form-field textarea:not(:placeholder-shown):valid {
	background-color: lightgreen;
	border-color: green;
}

.form-field input[type="text"]:not(:placeholder-shown):invalid,
.form-field input[type="number"]:not(:placeholder-shown):invalid,
.form-field input[type="email"]:not(:placeholder-shown):invalid,
.form-field textarea:not(:placeholder-shown):invalid {
	background-color: pink;
	border-color: red;
}



/*
.form-field option {
	color: red;
	font-size: 20px;
	padding: 20px;
} */


.required {
	color: red;
}


.form-checkbox {
	margin-bottom: 10px;
}


.button {
	background-color: dodgerblue;
	color: white;
	padding: 10px 20px;
	border: 0;
	border-radius: 4px;
}

.button:hover {
	background-color: rgb(39, 100, 160);
}











.form-horizontal {
	margin-bottom: 10px;
	display: flex;
}

.form-horizontal label {
	flex: 0 0 100px;
	font-size: 14px;
	color: grey;
	margin-right: 10px;
	/* text-align: right; */
}

.form-horizontal input {
	flex: 1 1 100%;
}






/*
.form-horizontal label {
	display: inline-block;
	width: 100px;
	font-size: 14px;
	color: grey;
}

.form-horizontal input {
	width: 195px;
}
*/