/* nejsme vcerejsi, pouzivame moderni box model */
*, :after, :before { box-sizing: border-box; }

/* barvicky elementů na stránce */
header,
footer {
	background: yellowgreen;
}

aside {
	background: beige;
}

nav {
	background: lightsteelblue;
}

/* -------------------------------------------- */
/* tady piš svoje CSS */
/* -------------------------------------------- */

/*
	Budu používat jednotky vw a vh.
	Tyto jednotky jsou zkratky pro viewport width a viewport height.
	100vw představuje přesně šířku viewportu, tj. okna prohlížeče, ve kterém se stránka zobrazuje.
	100vh podobně představuje výšku viewportu, tj. okna prohlížeče.

	Pokud tedy chci, aby něco zabíralo 20% výšky prohlížeče, mohu napsat height: 20vh.

	Proč používám vw a vh místo procent? Protože nastavovat něčemu výšku v procentech je v CSS často velmi ošidné. Pokud rodič nemá výslovně nastavenou výšku a já jeho potomkovi (prvku uvnitř rodiče) nastavím výšku 20%, nastaví se výška jako 20% **šířky** rodiče.

	Používat procenta pro nastavení šířky je většinou bez problémů, pro výšku je to občas bohužel velmi neintuitivní. Jednotky vw a vh znamenají vždy šířku nebo výšku celého okna a tyto problémy nemají, takže v těchto cardio příkladech se nám hodí a budu je používat.
*/

/* nejprve vynulujeme margin u body, abych měli prvky bez mezery až do okraje celé stránky */
body {
	margin: 0;
}


/*
	V tomto příkladu máme navigaci vlevo a vedle ní vpravo blok ostatních prvků. To je jeden flexbox.

	Uvnitř pravé poloviny mohu zvolit dva přístupy:
	1) Mít všechny prvky pohromadě a flexboxu nastavit zalamování.
	2) Mít článek a sidebar uzavřené do ještě dalšího prvku a z něho udělat flexbox bez zalamování.

	Já si vyberu vyriantu 2, protože je jednoduší na představení, jak má vše fungovat.

	Z pravé poloviny také udělám vertikální flexbox, kde hlavička a patička má pevnou výšku a prostředek se natahuje, aby vyplnil zbytek prostoru.
*/

.kontejner {
	display: flex;
}

nav {
	flex: 0 0 20vw;
}

.pravy {
	flex: 1 1 80vw;
	display: flex;
	flex-direction: column;
}

header,
footer {
	flex: 0 0 20vh;
}

.obsah {
	flex: 1 1 60vh;
	display: flex;
}

article {
	flex: 1 1 60vw;
}

aside {
	flex: 0 0 20vw;
}
