/* google font */
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700&subset=latin-ext');


/* zde je magie a jednorožci, někdy i draci */
:root {
	--text: #333a44;
	--popisek: #95afc0;
	--input: #7ed6df;
	--input-active: #eb4d4b;
	--okraj: #c7ecee;
	--hlavicka: #c7ecee;
	--jmeno: #eb4d4b;
	--vek: #eb4d4b;
	--profese: #95afc0;
	--telefon: #333a44;
	--stitek: #6ab04c;
}


/* nejsme vcerejsi, pouzivame moderni box model */
*, :after, :before { box-sizing: border-box; }


body {
	margin: 0;
	padding: 30px;
	min-height: 100vh;
	font: 16px/1.5 'Merriweather', serif;
	background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
	background: #f5f5f5;
}

h1 {
	margin: 0 0 30px 0;
	font-size: 36px;
	line-height: 1;
	color: var(--text);
	text-align: center;
}

.kontakt {
	position: relative;
	background-color: white;
	border: 1px solid var(--okraj);
	border-radius: 4px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	transition: all 0.3s;
}

.kontakt:hover {
	box-shadow: 0 6px 15px rgba(72, 52, 212, 0.15);
	transform: translateY(-3px);
}

.foto {
	height: 100px;
	background-color: var(--hlavicka);
	background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
	position: relative;
	padding: 10px;
}

.foto img {
	display: block;
	width: 120px;
	margin: 0 auto;
	border: 2px solid white;
	border-radius: 50%;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.vek {
	position: absolute;
	left: 50%;
	width: 30px;
	height: 30px;
	background-color: var(--vek);
	color: white;
	font-size: 14px;
	line-height: 30px;
	font-weight: bold;
	text-align: center;
	border-radius: 50%;
	transform: translate(35px, -45px);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.detaily {
	padding: 40px 15px 15px 15px;
	text-align: center;
}

.detaily h2 {
	margin: 0 0 3px 0;
	font-size: 18px;
	color: var(--jmeno);
}

.profese {
	margin: 0;
	color: var(--profese);
	font-size: 13px;
	line-height: 1;
}

.telefon {
	margin: 15px 0 0 0;
	font-size: 14px;
	line-height: 1;
	color: var(--telefon) ;
}

.hleda {
	position: absolute;
	left: 0px;
	top: 0px;
	padding: 4px 8px 4px 6px;
	font-size: 12px;
	line-height: 1;
	border-radius: 4px 0px 12px 0;
	background-color: var(--stitek);
	color: white;
	z-index: 99;
}

/* ---------------------------------------------------- */



.kontakty {
	display: grid;
	gap: 20px;
}

.autofill {
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.autofit {
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}