/* nejsme vcerejsi, pouzivame moderni box model */
*, :after, :before { box-sizing: border-box; }

body {
	font-family: sans-serif;
}

/* ---------------------------------------------------- */


.kalendar {
	display: grid;
	grid-template-rows: repeat(6, 50px);
	grid-template-columns: repeat(7, 50px);
	grid-gap: 2px;

	margin: 0;
	padding: 0;
	list-style: none;
}

.kalendar li {
	display: flex;
	border: 1px solid silver;
	justify-content: center;
	align-items: center;
}

li.zahlavi {
	border: 0;
	background-color: tomato;
	color: white;
}

li.predchozi-mesic,
li.nasledujici-mesic {
	background-color: silver;
	color: grey;
}