/* intuitivnejsi box-sizing */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

.box {
	font: 30px/1 sans-serif;
	font-weight: bold;
	border: 1px solid black;
	min-height: 100px;
}

.box:nth-child(5n+1) { background-color: #2ecc71;}
.box:nth-child(5n+2) { background-color: #f1c40f;}
.box:nth-child(5n+3) { background-color: #3498db;}
.box:nth-child(5n+4) { background-color: #e74c3c;}
.box:nth-child(5n+5) { background-color: #9b59b6;}

.kontejner {
	padding: 10px;
	border: 1px dashed red;
	background-color: #ffffcc;
}

/* ---------------------------------------------------- */

.kontejner {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}


/*
	- v kontejneru mám 3 boxy
	- chci aby mezi nimi byla mezera 20px
	- 3 boxy = 2 mezery mezi nimi, 2 x 20px = 40px
	- šířku boxu tedy spočítám jako šíčku kontejneru 100% mínus šířku mezer 40px, a výsledek vydělím počtem boxů (3)
	- nezapomenu, že v calcu musí být kolem znamének mezery, jinak cal nebude fungovat
	- nezapomenu na prioritu matematických operátorů - násobení a dělení mám přednost před sčítáním a odčítáním, takže si případně pomůžu závorkami
*/
.box {
	flex: 0 0 calc((100% - 40px) / 3);
}



