/* nejsme vcerejsi, pouzivame moderni box model */
*, :after, :before { box-sizing: border-box; }

/*
	BARVY
	pozadi     #f5f5f5
*/


body {
	margin: 0;
	padding: 0;
	background-color: #f5f5f5;

	/* font pro celou stránku, pouze u nadpisů speciálně přenastavíme na jiné písmo */
	font-family: 'Merriweather', serif;

	/* výchozí velikost písma a řádku pro mobilní verzi (mimo media query) */
	font-size: 14px;
	line-height: 1.6;
}


@media (min-width: 500px) {
	body {
		font-size: 15px;
	}
}

@media (min-width: 500px) {
	body {
		font-size: 16px;
	}
}

/*
 * HLAVICKA
 */
.hlavicka {
	/*
	Pouzivam vicenasobne pozadi - prvni pozadi v poradi je uplne nahore,
	dalsi pozadi jsou naskladana postupne pod nim.
	V tomto pripade mam uplne nahore barevny prechod z cerne pruhledne barvy do stejne cerne pruhledne barvy,
	tj. mam obdelnik cerne pruhledne barvy, ktery prekryva obrazek pod nim a tim ho ztmavuje.
	Vsechny ostatni vlastnosti pak musi uvadet dve hodnoty (nebo vice) - vzdy pro kazde pozadi jedna.
	*/



	background-image:
		linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
		url('images/island-hlavicka.jpg');

	background-size: cover, cover;
	background-position: initial, center center;
	background-repeat: initial, no-repeat;





	/* background:
		linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
		url('images/island-hlavicka.jpg');
	background-size: auto, cover;
	background-position: initial, center center;
	background-repeat: initial, no-repeat; */
}








.hlavicka-obsah {
	max-width: 960px;
	margin: 0 auto;
	padding: 30px;
	text-align: center;
	color: white;
}

.titulek {
	margin: 0;
	font-family: 'Raleway', sans-serif;
	font-size: 48px;
	font-weight: 700;
	line-height: 1;
}

.perex {
	margin: 2em 0;
}

.autor {
	position: relative;
	padding-top: 1em;
	font-style: italic;
	opacity: 0.7;
}

.autor::before {
	content: ' ';
	position: absolute;
	left: 50%;
	top: 0;
	transform: translate(-50%, 0);
	width: 70px;
	border-top: 2px solid white;
}


@media (min-width: 500px) {
	.titulek {
		font-size: 72px;
	}
}



@media (min-width: 1000px) {

	.hlavicka-obsah {
		padding: 100px 130px;
	}

	.titulek {
		font-size: 96px;
	}

}




/*
 * OBSAH
 */
.obsah {
	width: 100%;
	margin: 0 0 30px 0;
	background: white;
	box-shadow: 0 5px 30px 5px rgba(0, 0, 0, 0.15);
}
















@media (min-width: 1000px) {

	.obsah {
		max-width: 960px;
		margin: -70px auto 50px auto;
	}

}




.nadpis {
	position: relative;
	margin: 30px 0;
	padding-bottom: 30px;
	font-family: 'Raleway', sans-serif;
	font-size: 24px;
	font-weight: 700;
	line-height: 1.2;
}

.nadpis::after {
	content: ' ';
	position: absolute;
	left: -50px;
	bottom: 0;
	width: 100px;
	border-bottom: 4px solid #629edb;
}

@media (min-width: 500px) {
	.nadpis {
		font-size: 30px;
	}
}

@media (min-width: 1000px) {
	.nadpis {
		font-size: 36px;
	}
}





.menu {
	padding: 30px 30px 0 30px;
	margin: 0;
	list-style: none;
}

.menu li {
	margin: 0;
	padding: 0;
	text-align: center;
}

.menu a {
	display: block;
	padding: 8px 0;
	border-bottom: 1px solid #f5f5f5;

	font-family: 'Raleway', sans-serif;
	font-size: 12px;
	font-weight: 400;
	line-height: 1.2;
	color: #a5a5a5;
	text-transform: uppercase;
	text-decoration: none;
}

.menu a:hover,
.menu a:active,
.menu a:focus {
	color: black;
	font-weight: 700;
}


@media (min-width: 650px) and (max-width: 999px) {

	.menu::after {
		/* clearfix */
		content: "";
		display: block;
		clear: both;
	}

	.menu  li {
		float: left;
		width: 25%;
	}

	.menu a {
		border-top: 1px solid #f5f5f5;
		border-right: 1px solid #f5f5f5;
	}

	.menu li:last-child a {
		border-right: 0;
	}
}


@media (min-width: 1000px) {

	.menu {
		float: left;
		width: 150px;
		margin: 50px 0 0 50px;
		padding: 0;
	}

	.menu li {
		text-align: left;
	}

}




.sekce {
	padding: 50px 20px;
}

/* posledni sekce na strance nebude mit spodni padding,
   bude az ke spodnimu kraji obsahoveho pruhu */
.sekce:last-child {
	padding-bottom: 0;
}

/* prvni prvek v sekci (vetsinou nadpis) nema horni margin */
.sekce :first-child {
	margin-top: 0;
}

/* posledni prvek v sekci (vetsinou odstavec) nema spodni margin */
.sekce :last-child {
	margin-bottom: 0;
}


@media (min-width: 1000px) {

	.sekce {
		padding: 50px;
	}

	.sekce-vpravo {
		padding-left: 250px;
	}

	.sekce-vlevo {
		padding-right: 250px;
	}

}




.fotopruh {
	position: relative;
	margin: 0;
}

.fotopruh img {
	width: 100%;
	height: auto;
}

.fotopruh .popisek {
	margin: 0;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-size: 11px;
	color: #888;
}

.fotopruh .popisek a {
	color: #888;
}


@media (min-width: 500px) {

	.fotopruh .popisek {
		position: absolute;
		bottom: 15px;
		right: 15px;
		color: #fff;
	}

	.fotopruh .popisek a {
		color: #fff;
	}

}



/*
 * FOTOGALERIE
 */

 .galerie {
	 margin-left: -20px;
	 margin-right: -20px;
 }

.galerie::after {
	/* clearfix */
	content: "";
	display: table;
	clear: left;
}

/* vychozi vzhled - 1 obrazek pres celou sirku s popiskem pod obr. */
.foto {
	position: relative;
	display: block;
}

.foto img {
	display: block;
	width: 100%;
	height: auto;
	transition: transform 0.3s ease-in-out;
}

.foto .popisek {
	margin: 10px 0 20px 0;
	color: #888;
	font-family: 'Raleway', sans-serif;
	font-size: 13px;
	line-height: 1.2;
	font-weight: 700;
	text-align: center;
}

.popisek-copy {
	font-size: 11px;
	font-weight: 400;
}


.foto .popisek a {
	color: #888;
}



@media (min-width: 600px) {
	/* sirka prohlizece 500-999px --> 2 obrazky vedle sebe */

	.foto {
		float: left;
		width: 50%;
		overflow: hidden;
	}


	.foto:hover img {
		transform: scale(1.15);
	}

	.foto .popisek {
		position: absolute;
		width: 100%;
		bottom: 0;
		margin: 0;
		padding: 10px 15px;
		background-color: rgba(0, 0, 0, 0.5);
		color: white;
		font-size: 16px;
		transform: translateY(100%);
		transition: transform 0.3s ease-in-out;
	}

	.foto .popisek a {
		color: white;
	}

	.foto:hover .popisek {
		transform: translateY(0);
	}

}



@media (min-width: 1000px) {
	/* sirka prohlizece >= 1000px --> 3 obrazky vedle sebe */

	.galerie {
		margin-left: -50px;
		margin-right: -50px;
	}

	.foto {
		width: calc(100% / 3);
	}

}


/*
 * PATICKA
 */
.paticka {
	margin: 30px 20px;
	font-size: 11px;
	color: #a5a5a5;
}

.paticka a {
	color: #a5a5a5;
}

.paticka a:hover,
.paticka a:active,
.paticka a:focus {
	color: black;
}

@media (min-width: 1000px) {

	.paticka {
		max-width: 960px;
		margin: 30px auto;
		font-size: 14px;
	}

}
