/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }


/* barvy */
:root {
	--svetla: #edf3f5;
	--seda: #b2bec3;
	--tmava: #636e72;
	--oranzova: #ee5a24;
	--cervena: #ea2027;
	--zluta: #f79f1f;
	--zelena: #a3cb38;
	--limetka: #c4e538;
}


body {
	margin: 0;
	padding: 30px;
	font-family:  'Alice', serif;
	font-size: 18px;
	line-height: 1.5;
}

h1, h2, h3 {
	font-family: 'Kaushan Script', cursive;
	font-weight: normal;
	margin: 0;
}


.blog {
	display: grid;
	grid-template-columns: [celek-start vlevo-start] 1fr [vlevo-end obsah-start] 4fr [obsah-end vpravo-start] 2fr [vpravo-end celek-ends];
	grid-gap: 20px 40px;
}

.blog > h1,
.blog > h2,
.blog > h3,
.blog > p {
	grid-column: obsah;
}

.blog > blockquote,
.blog > figure {
	grid-column: celek;
}

.tip-pravy {
	grid-column: vpravo;
}

.tip-levy {
	grid-column: vlevo;
}


a {
	color: var(--oranzova);
}

a:hover,
a:focus,
a:active {
	color: var(--cervena);
}

h1 {
	margin: 50px 0;
	font-size: 90px;
	line-height: 1.2;
	color: var(--zelena);
}

h2 {
	margin: 30px 0 10px 0;
	font-size: 60px;
	line-height: 1.2;
	color: var(--zelena);
}

p {
	margin: 0;
}

.meta {
	margin: 0;
	color: var(--seda);
}

.blog > blockquote {
	position: relative;
	padding: 0;
	font-size: 36px;
	font-family: 'Kaushan Script', cursive;
	text-align: center;
	color: var(--seda);
}

.blog > blockquote::before,
.blog > blockquote::after {
	content: "";
	display: block;
	width: 10%;
	height: 2px;
	margin: 25px auto;
	background-color: var(--limetka);
}

.blog > figure {
	margin: 30px 0;
	padding: 0;
}

.blog > figure img {
	width: 100%;
}

.blog > figure figcaption {
	color: var(--seda);
}

.tip {
	align-self: start;
	font-size: 15px;
	background-color: var(--svetla);
	color: var(--tmava);
	padding: 20px;
}

.tip-levy {
	text-align: right;
	border-right: 2px solid var(--zluta);
}

.tip-pravy {
	border-left: 2px solid var(--zluta);
}

.tip img {
	width: 100%;
	margin-bottom: 10px;
}


.paticka {
	margin-top: 30px;
	font-size: 14px;
	color: var(--seda);
}

.paticka a {
	color: var(--seda);
}